<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from www.Nidaysseedhealthcareservices.co.uk/about-us by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 30 Jan 2024 01:32:34 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="UTF-8">
    <!-- viewport meta -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Nidaysseed Healthcare Services - Care With Love">
    <meta name="keywords" content="healthcare, caregiver, healthcare staffing, home care">

    <title>About Us - Nidaysseed Healthcare Services</title>

    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">

    <!-- inject:css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="css/fontello.css">
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css" href="css/magnificpopup.css">
    <link rel="stylesheet" type="text/css" href="css/style4522.css?v=784593">

    <!-- endinject -->
</head>
<body>
<!-- page preloader -->
<div id="loading-area">
    <div class="three col">
        <div class="loader" id="loader-1"></div>
    </div>
</div><!-- end loading -->

<div class="body-overlay"></div><!-- end body-overlay -->

<div class="offcanvas-menu">
    <div class="menu__close"></div><!-- end menu__close -->
    <ul class="off__menu"> 
        <li><a href="/index-2">Home </a></li>  
        <li><a href="/about-us">About Us</a></li>
        <li><a href="/healthcare-staffing-services">Healthcare Staffing Services</a></li> 
        <li><a href="/home-care-service">Home Care Service</a></li>
        <li><a href="/working-for-us">Working for Us</a></li> 
        <li><a href="/contact-us">Contact Us</a></li>
        <!-- <li><a href="https://20x.io/Nidaysseedservices/signin/ek5IWVBTWll3bldiSUJDV0dNdzFXZz09" target="_blank">Login</a></li> -->
        <li><a href="https://20x.io/Nidaysseedservices/commonuser_register/ek5IWVBTWll3bldiSUJDV0dNdzFXZz09" target="_blank">Apply Online</a></li>
        <li><a href="tel:2026955090">Call Us: 202-695-5090       </a></li>
         <li>
            <a href="https://twitter.com/Nidaysseed_services" target="_blank" style="margin-right:10px;width:30px;"><i class="fab fa-twitter"></i></a>
            <a href="https://www.facebook.com/Nidaysseedhealthcareservices" target="_blank" style="width:30px;"><i class="fab fa-facebook-f"></i></a>
        </li>
    </ul>
</div><!-- end offcanvas-menu -->

<!-- ================================
        START MENU AREA
================================= -->
<section class="menu-area menu-area-3">
    <div class="top-menu-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 menu-full-box theme-bg-light no-padding-lr">
                    <div class="menu-full-width clearfix">
                        <div class="logo-box">
                            <div class="site-open">
                                <span class="open__only"></span>
                                <span class="open__only"></span>
                                <span class="open__only"></span>
                            </div><!-- end site-open -->
                            <div class="logo">
                                <a href="/index-2" title="Nidaysseed Healthcare Services">
                                    <img src="images/logoebf6.png?v=333" alt="Nidaysseed logo">
                                </a>
                            </div><!-- end logo -->
                        </div><!-- end logo-box -->
                        <div class="main-menu">
                            <nav class="menu__wrapper">
                                <ul class="dropdown-main">
                                    <li><a href="/index-2">Home</a></li>
                                    <li><a href="/about-us" class="active">About Us</a></li>
                                    <li>
                                        <a href="/#">Services</a>
                                        <div class="main__dropdown-menu">
                                            <ul>
                                                <li><a href="/healthcare-staffing-services">Healthcare Staffing Services</a></li>
                                                <li><a href="/home-care-service">Home Care Service</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li><a href="/working-for-us">Working for Us</a></li> 
                                    <li><a href="/contact-us">Contact Us</a></li>
                                    <!-- <li><a href="https://20x.io/Nidaysseedservices/signin/ek5IWVBTWll3bldiSUJDV0dNdzFXZz09" target="_blank">Login</a></li>  -->
                                    <li><a href="https://20x.io/Nidaysseedservices/commonuser_register/ek5IWVBTWll3bldiSUJDV0dNdzFXZz09" target="_blank">Apply Online</a></li>
                                </ul>
                            </nav><!-- end menu__wrapper -->
                            <div class="logo-right-button">
                                <div class="contact-para">
                                    <ul class="social__links">
                                        <li><a href="https://twitter.com/Nidaysseed_services" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="https://www.facebook.com/Nidaysseedhealthcareservices" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                    </ul>
                                </div><!-- end contact-para -->
                            </div><!-- end logo-right-button -->
                        </div><!-- end main-menu -->

                        <a href="tel:202-695-5090" class="call-bttn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                              <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                            </svg>
                            202-695-5090
                        </a>
                    </div><!-- end menu-full-width -->
                </div><!-- end col-log-12 -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end top-menu-area -->
</section><!-- end menu-area -->
<!-- ================================
            END MENU AREA
================================= -->

<!--================================
           START BANNER AREA
=================================-->
<section class="trusted-area breadcrumb-area text-center">
    <div class="trusted-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="trusted-content">
                        <div class="trusted__title">
                            <h2 class="trusted__title-title">About Us</h2>
                        </div><!-- end trusted__title -->
                    </div><!-- end trusted-content -->
                </div><!-- end col-md-12 -->
            </div><!-- end row -->
        </div><!-- container -->
    </div><!-- end trusted-fluid -->
</section><!-- end trusted-area -->
 <!--================================
          END BANNER AREA
=================================-->

<!--================================
          START THINK AREA
=================================-->
<section class="think-area responsive-content area-padding">
    <div class="think-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="avivon-heading">
                        <h2 class="avivon__title">
                            Our services offer expertly trained, high-caliber staff to both private and public sector entities.</h2>

                            <p class="avivon__desc offer-title2 mt-40px mb-25px">Founded by dedicated experts, Nidaysseed Healthcare Services excels in delivering staffing solutions across the healthcare and management sectors for both private and public organizations. Our foundation is built on a deep commitment to quality and a passion for making a difference.</p>

                            <p class="avivon__desc offer-title2 mb-25px">Our mission is to offer unparalleled recruitment and staffing services to the healthcare industry, providing clients with highly skilled, dedicated professionals. We prioritize excellence in our staff and services, recognizing the importance of maintaining the highest standards.</p>
                            
                            <p class="avivon__desc offer-title2 mb-25px">Nidaysseed is a premier provider of top-tier healthcare professionals to Residential homes, Nursing Care homes, and hospitals. We operate continuously, 24/7/365, ensuring our clients' requirements are always met with responsiveness and dedication.</p>
                            
                            <p class="avivon__desc offer-title2 mb-25px">As an independent entity, we tailor our services uniquely to each client's needs. Our skilled consultants foster close relationships with both clients and staff, believing that collaboration fosters success through a deeper understanding and connection.</p>
                            
                    </div><!-- end avivon-heading -->
                </div><!-- end col-md-6 -->
                <div class="col-md-6">
                    <div class="think-column-box think-column-box2 clearfix">
                        <div class="think-boxed think--boxed boxed-bg-3"></div><!-- end think-boxed -->
                        <div class="think-boxed think--boxed boxed-bg-4"></div><!-- end think-boxed -->
                    </div><!-- end think-column -->
                </div><!-- end col-md-6 -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end think-fluid -->
</section><!-- end think-area -->
<!--================================
         END THINK AREA
=================================-->

<!--================================
           START FUNFACT AREA
=================================-->
<section class="funfact-area responsive-content parallax-area area-padding text-center">
    <div class="funfact-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-12 primary-padding-2">
                    <div class="avivon-heading">
                        <h2 class="avivon__title seven__title">numbers speak</h2>
                    </div><!-- end avivon-heading -->
                </div><!-- end col-md-12 -->
            </div><!-- end row -->
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12 fact-border fun-countdown">
                    <div class="funfact-shared ">
                        <div class="fun__icon">
                           <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
  <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
  <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
  <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
</svg>
                        </div><!-- end team__img-->
                        <div class="fun__fact">
                            <span class="counter">100</span>+
                        </div><!-- end fun__fact -->
                        <div class="fun__desc">
                            <span class="team__title-span">Happy Clients</span> 
                        </div><!-- end fun__desc -->
                    </div><!-- end funfact-shared -->
                </div><!-- end col-md-4 -->

                <div class="col-md-4 col-sm-6 col-xs-12 fact-border fun-countdown">
                    <div class="funfact-shared">
                        <div class="fun__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-person-badge" viewBox="0 0 16 16">
  <path d="M6.5 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zM11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
  <path d="M4.5 0A2.5 2.5 0 0 0 2 2.5V14a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2.5A2.5 2.5 0 0 0 11.5 0h-7zM3 2.5A1.5 1.5 0 0 1 4.5 1h7A1.5 1.5 0 0 1 13 2.5v10.795a4.2 4.2 0 0 0-.776-.492C11.392 12.387 10.063 12 8 12s-3.392.387-4.224.803a4.2 4.2 0 0 0-.776.492V2.5z"/>
</svg>
                        </div><!-- end team__img-->
                        <div class="fun__fact">
                            <span class="counter">350</span>+
                        </div><!-- end fun__fact -->
                        <div class="fun__desc">
                            <span class="team__title-span">Carers</span><br> 
                        </div><!-- end fun__desc -->
                    </div><!-- end funfact-shared -->
                </div><!-- end col-md-4 -->

                <div class="col-md-4 col-sm-6 col-xs-12 col-lg-offset-0 col-md-offset-0 col-sm-offset-3 col-xs-offset-0 fun-countdown">
                    <div class="funfact-shared rpl-content">
                        <div class="fun__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
  <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
</svg>
                        </div><!-- end team__img-->
                        <div class="fun__fact">
                            <span class="counter">20</span>+
                        </div><!-- end fun__fact -->
                        <div class="fun__desc">
                            <span class="team__title-span">Nurses</span> 
                        </div><!-- end fun__desc -->
                    </div><!-- end funfact-shared -->
                </div><!-- end col-md-4 -->

            </div><!-- end row -->
        </div><!-- container -->
    </div><!-- end funfact-fluid -->
</section><!-- end funfact-area -->
<!--================================
             END FUNFACT AREA
=================================-->

<!--================================
        START TRUSTED AREA
=================================-->
<section class="trusted-area blockquote-area area-padding text-center">
    <div class="trusted-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="trusted-content quote-slide">

                        <div class="ts-item">
                            <div class="trusted__icon mb-50px">
                                <span class="block__symbol">“</span>
                            </div><!-- end trusted__icon -->
                            <div class="trusted__title">
                                <h2 class="trusted__title-title">
                                    “For quite some time, I've relied on Nidaysseed Healthcare Services. Their unwavering commitment and dedication have consistently provided me with dependable services, always available, even for last-minute needs”
                                </h2>
                                <p class="trusted__desc-desc mt-35px"><span>Avlon Hewitt </span> / Care Home Manager</p>
                            </div><!-- end trusted__title -->
                        </div><!-- end ts-item -->

                        <div class="ts-item">
                            <div class="trusted__icon mb-50px">
                                <span class="block__symbol">“</span>
                            </div><!-- end trusted__icon -->
                            <div class="trusted__title">
                                <h2 class="trusted__title-title">
                                    “I serve as a Senior HCA at Nidaysseed Services and am deeply grateful for the opportunities and support provided by the management team. The regular, prompt weekly payments are particularly appreciated, requiring no follow-up from my side. I wholeheartedly endorse it as an excellent workplace.”
                                </h2>
                                <p class="trusted__desc-desc mt-35px"><span>Angela Cookson</span> / Senior HCA</p>
                            </div><!-- end trusted__title -->
                        </div><!-- end ts-item --> 
                        
                    </div><!-- end trusted-content -->
                </div><!-- end col-md-12 -->
            </div><!-- end row -->
        </div><!-- container -->
    </div><!-- end trusted-fluid -->
</section><!-- end trusted-area -->
<!--================================
        END TRUSTED AREA
=================================-->

<!--================================
         START OFFER AREA
=================================-->
<section class="offer-area responsive-content offer--area theme-bg-gray">
    <div class="offer-fluid">
        <div class="container-fluid">
            <div class="row offer-content">

                <div class="col-md-5 col-sm-6 col-xs-12 no-padding-lr">
                    <div class="offer-quote abt-offr-qot"></div><!-- end offer-quote -->
                </div><!-- end col-md-5 -->

                <div class="col-md-7 col-sm-6 col-xs-12 offer-list-box">
                    <div class="offer-list">
                        <div class="avivon-heading focus-title">
                            <h2 class="avivon__title"> Our Commitment</h2>
                        </div><!-- end avivon-heading -->
                        <div class="offer-item">
                            <div class="same-offer">
                                <div class="offer__title" style="padding:0;">
                                    <p class="offer__desc mt-30px mb-20px">
                                        Nidaysseed Services upholds the highest standards of accountability in all we do. By employing rigorous quality assessment methods, we consistently align the excellence of our care with our core values.
                                      </p>
                                      
                                      <p class="offer__desc mb-20px">
                                        Our commitment lies in providing our clients with the most reliable, compassionate, and skilled healthcare professionals in the industry.
                                      </p>
                                      
                                      <p class="offer__desc mb-20px">
                                        We prioritize listening and learning from our clients to ensure our care not only meets but exceeds their needs. Our aim is to deliver transformative, compassionate care that significantly enhances the lives of those we serve.
                                      </p>
                                      
                                      <p class="offer__desc mb-40px">
                                        Empowerment is at the heart of our organization, enabling us to make decisions that best serve our clients and team members alike. Our culture is one of openness, trust, shared responsibility, and perpetual growth. This approach nurtures a committed workforce dedicated to achieving superior outcomes for our clients, ensuring we offer invaluable, dignified, and respectful services at every turn.
                                      </p>
                                      

                                </div><!-- end offer__title -->
                            </div><!-- end same-offer -->
                        </div><!-- end offer-item -->
                    </div><!-- end offer-list -->
                </div><!-- end col-md-7 -->
            </div><!-- end row -->
        </div><!-- container-fluid -->
    </div><!-- end offer-fluid -->
</section><!-- end offer-area -->
<!--================================
          END OFFER AREA
=================================-->

<!--================================
       START CLIENT LOGO AREA
=================================-->
<section class="client-logo-area area-padding text-center">
    <div class="client-logo-fluid">
        <div class="container">
            <div class="avivon-heading"> 
                <h2 class="avivon__title fourth__title">Our Clients</h2> 
            </div>

            <br><br><br>

            <div class="row client-logo-box">
                <div class="col-md-12">
                    <div class="client-logo">
                        <div class="client-logo-item">
                            <img class="client__logo-brand" src="images/client/Charing-healthcare.png" alt="client brand logo">
                        </div><!-- end client-logo-item -->
                        <div class="client-logo-item">
                            <img class="client__logo-brand" src="images/client/chimnies-care-home.png" alt="client brand logo">
                        </div><!-- end client-logo-item -->
                        <div class="client-logo-item">
                            <img class="client__logo-brand" src="images/client/pilgrimsway-logo.png" alt="client brand logo">
                        </div><!-- end client-logo-item -->
                        <div class="client-logo-item">
                            <img class="client__logo-brand" src="images/client/rch-care-home.png" alt="client brand logo">
                        </div><!-- end client-logo-item -->
                    </div><!-- end client-logo -->
                </div><!-- end col-md-12 -->
            </div><!-- end row -->

        </div><!-- container -->
    </div><!-- end client-logo-fluid -->
</section><!-- end client-logo-area -->
<!--================================
          END CLIENT LOGO AREA
=================================-->

<!--================================
            START MEET AREA
=================================-->
<section class="meet-area area-padding theme-bg-main">
    <div class="meet-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="meet-heading text-center">
                        <h2 class="avivon__title">
                            Committed to Providing Top-Tier Solutions.
                          </h2>
                          <p class="avivon__desc">
                            Offering expertly trained, high-quality staff to both private and public sector entities.
                          </p>
                          
                        <a href="https://20x.io/Nidaysseedservices/commonuser_register/ek5IWVBTWll3bldiSUJDV0dNdzFXZz09" target="_blank" class="meet__btn">
                            Apply Online
                            <span class="fontello icon-angle-double-right"></span>
                        </a>
                    </div><!-- end meet-heading -->
                </div><!-- end col-md-12 -->
            </div><!-- end row -->
        </div><!-- container -->
    </div><!-- end meet-fluid -->
</section><!-- end meet-area -->
<!--================================
           END MEET AREA
=================================-->

<!--================================
        START OFFER AREA
=================================-->
<section class="offer-area offer--area responsive-content skill-area our-mission-area theme-bg-gray">
    <div class="offer-fluid">
        <div class="container-fluid">
            <div class="row offer-content">
                <div class="col-md-6 col-sm-6 col-xs-12 no-padding-lr">
                    <div class="offer-quote mission-bg"></div><!-- end offer-quote -->
                </div><!-- end col-md-6 -->
                <div class="col-md-6 col-sm-6 col-xs-12 offer-list-box mission-list-box">
                    <div class="offer-list">
                        <div class="avivon-heading">
                            <h2 class="avivon__title">Our Mission</h2>

                            <p class="avivon__desc offer-title2 mt-40px mb-25px">To improve quality of life for those we serve through the delivery of clinical excellence, extraordinary service and compassionate care, while being recognised as the leader in healthcare services provider.</p>

                            <ul class="avivon__list mission__list mb-40px">
                                <li>
                                    <i class="fas fa-check-circle"></i>
                                    Tailoring services to meet client-specific needs.
                                </li>
                                <li>
                                    <i class="fas fa-check-circle"></i>
                                    Ensuring all nurses and carers meet high standards through thorough pre-employment screenings and comprehensive training.
                                </li>
                                <li>
                                    <i class="fas fa-check-circle"></i>
                                    Strategically positioning our staff close to clients for timely service delivery.
                                </li>
                                <li>
                                    <i class="fas fa-check-circle"></i>
                                    Elevating our recruitment practices to set industry benchmarks for excellence.
                                </li>
                                <li>
                                    <i class="fas fa-check-circle"></i>
                                    Providing ongoing training to all staff to maintain top-quality care.
                                </li>
                                <li>
                                    <i class="fas fa-check-circle"></i>
                                    Upholding a strong commitment to Occupational Health & Safety.
                                </li>
                                <li>
                                    <i class="fas fa-check-circle"></i>
                                    Adhering to Care Quality Commission standards for recruitment and training.
                                </li>
                                <li>
                                    <i class="fas fa-check-circle"></i>
                                    Offering competitive rates without compromising on care quality.
                                </li>
                            </ul>
                            

                        </div><!-- end avivon-heading -->
                    </div><!-- end offer-list -->
                </div><!-- end col-md-6 -->
            </div><!-- end row -->
        </div><!-- container-fluid -->
    </div><!-- end offer-fluid -->
</section><!-- end offer-area -->
<!--================================
         END OFFER AREA
=================================-->

<section class="footer-area responsive-content theme-bg-dark">
    <div class="footer-fluid">
        <div class="container">
            <div class="row footer-list">

                <div class="col-md-5 col-sm-12">
                    <div class="footer-shared rpd-content"> 
                        <div class="footer__title">
                            <h3 class="footer__title-title">About Us</h3>
                        </div><!-- end footer__title -->

                        <div class="ftp__links">
                            <ul> 
                                <li style="padding:0;">
                                    <p class="add__para-desc">
                                      Nidaysseed Services was established by a team of devoted individuals, each with professional expertise in healthcare and management. United by a fervent commitment to provide superior staffing solutions to organizations, we stand at the forefront of connecting businesses with the talent they need.
                                    </p>
                                </li>
                            </ul>
                        </div><!-- end ftp__links -->

                        <div class="foo-logos clearfix" style="margin:30px 0;">
                            <img src="images/rec-member2.jpg" height="78" alt="rec logo" style="float:left;margin:0 15px 15px 0;">

                            <img src="images/ico-member.jpg" height="78" alt="ico logo" style="float:left;margin:0 15px 15px 0">
                          <img src="images/dc_badge1.png" height="78" alt="dc logo" style="float:left;margin:0 15px 15px 0">
                          <img src="images/cqc_Nidaysseed.png" height="78" alt="dc logo" style="float:left;margin:0 15px 15px 0">
                        </div>

                    </div><!-- end footer-shared -->
                </div><!-- end col-md-4 -->

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="footer-shared rpd-content">
                        <div class="footer__title">
                            <h3 class="footer__title-title">Our Address</h3>
                        </div><!-- end footer__title -->
                        <div class="ftp__links">
                            <ul>
                                <li>
                                    <a href="tel:442026955090">
                                        <i class="fas fa-phone-square"></i> 
                                        +1 202-695-5090
                                    </a>
                                </li>
                                <li>
                                    <a href="mailto: Damilola.nidaysseed@gmail.com">
                                        <i class="fas fa-envelope"></i>
                                         Damilola.nidaysseed@gmail.com
                                    </a>
                                </li>
                                <li>
                                    <p class="add__para-desc">
                                        <i class="fas fa-map"></i> 
                                        18303 BARNEY DRIVE ACCOKEEK MARYLAND 20607                                    </p>
                                </li>
                            </ul>
                        </div><!-- end ftp__links -->
                    </div><!-- end footer-shared -->
                </div><!-- end col-md-4 -->

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-shared">
                        <div class="footer__title">
                            <h3 class="footer__title-title">Navigation</h3>
                        </div><!-- end footer__title -->
                        <div class="ftp__links menu__links clearfix">
                            <ul class="ftp__menu-links pull-left">
                                <li><a href="/index-2">Home</a></li> 
                                <li><a href="/about-us">About Us</a></li> 
                                <li><a href="/healthcare-staffing-services">Healthcare Staffing Services</a></li> 
                                <li><a href="/home-care-service">Home Care Service</a></li>
                                <li><a href="/working-for-us">Working for Us</a></li>
                                <!-- <li><a href="/testimonials">Testimonials</a></li> -->
                                <li><a href="/contact-us">Contact Us</a></li>
                            </ul>
                        </div><!-- end ftp__links -->
                    </div><!-- end footer-shared -->
                </div><!-- end col-md-4 -->
                 
            </div><!-- end row -->

            <div class="row">
                <div class="col-md-12">
                    <div class="copyright-shared">
                        <div class="col-md-8 no-padding-lr">
                            <p class="copy__desc">&copy; Copyright 2024 Nidaysseed Healthcare Services </p>
                        </div><!-- end col-md-8 -->
                        <div class="col-md-4 text-right no-padding-lr"> 
                            <p class="copy__desc">
                                <a href="https://www.20x.io/" target="_blank">Care Agency Software</a> by www.20X.io
                            </p>
                        </div><!-- end col-md-4 -->
                    </div><!-- end copyright-shared -->
                </div><!-- end col-md-12 -->
            </div><!-- end row -->
        </div><!-- container -->
    </div><!-- end footer-fluid -->
</section><!-- end footer-area --> 
<!-- start scroll top --->
<div id="scroll-top">
    <i class="fas fa-arrow-up" title="Go top"></i>
</div>
<!-- end scroll top -->

<!--========= theme js files =============-->
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/magnificpopup.js"></script>
<script src="js/waypoints.min.js"></script>
<script src="js/jquery.counterup.min.js"></script>
<script src="js/main.js"></script>
<script>

    // counter up
    $('.counter').counterUp({
        delay: 50,
        time: 5000
    });

</script>
</body>

<!-- Mirrored from www.Nidaysseedhealthcareservices.co.uk/about-us by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 30 Jan 2024 01:32:35 GMT -->
</html>