<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from www.Nidaysseedhealthcareservices.co.uk/contact-us by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 30 Jan 2024 01:32:36 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="UTF-8">
    <!-- viewport meta -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Nidaysseed Healthcare Services - Care With Love">
    <meta name="keywords" content="healthcare, caregiver, healthcare staffing, home care">

    <title>Contact Us - Nidaysseed Healthcare Services</title>

    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">

    <!-- inject:css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="css/fontello.css">
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css" href="css/magnificpopup.css">
    <link rel="stylesheet" type="text/css" href="css/style4522.css?v=784593">
    <!-- endinject -->
</head>
<body>
<!-- page preloader -->
<div id="loading-area">
    <div class="three col">
        <div class="loader" id="loader-1"></div>
    </div>
</div><!-- end loading -->

<div class="body-overlay"></div><!-- end body-overlay -->

<div class="offcanvas-menu">
    <div class="menu__close"></div><!-- end menu__close -->
    <ul class="off__menu"> 
        <li><a href="/index-2">Home </a></li>  
        <li><a href="/about-us">About Us</a></li>
        <li><a href="/healthcare-staffing-services">Healthcare Staffing Services</a></li> 
        <li><a href="/home-care-service">Home Care Service</a></li>
        <li><a href="/working-for-us">Working for Us</a></li> 
        <li><a href="/contact-us">Contact Us</a></li>
        <!-- <li><a href="https://20x.io/Nidaysseedservices/signin/ek5IWVBTWll3bldiSUJDV0dNdzFXZz09" target="_blank">Login</a></li> -->
        <li><a href="https://20x.io/Nidaysseedservices/commonuser_register/ek5IWVBTWll3bldiSUJDV0dNdzFXZz09" target="_blank">Apply Online</a></li>
        <li><a href="tel:2026955090">Call Us: 202-695-5090</a></li>
         <li>
            <a href="https://twitter.com/Nidaysseed_services" target="_blank" style="margin-right:10px;width:30px;"><i class="fab fa-twitter"></i></a>
            <a href="https://www.facebook.com/Nidaysseedhealthcareservices" target="_blank" style="width:30px;"><i class="fab fa-facebook-f"></i></a>
        </li>
    </ul>
</div><!-- end offcanvas-menu -->

<!-- ================================
        START MENU AREA
================================= -->
<section class="menu-area menu-area-3">
    <div class="top-menu-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 menu-full-box theme-bg-light no-padding-lr">
                    <div class="menu-full-width clearfix">
                        <div class="logo-box">
                            <div class="site-open">
                                <span class="open__only"></span>
                                <span class="open__only"></span>
                                <span class="open__only"></span>
                            </div><!-- end site-open -->
                            <div class="logo">
                                <a href="/index-2" title="Nidaysseed Healthcare Services">
                                    <img src="images/logoebf6.png?v=333" alt="Nidaysseed logo">
                                </a>
                            </div><!-- end logo -->
                        </div><!-- end logo-box -->
                        <div class="main-menu">
                            <nav class="menu__wrapper">
                                <ul class="dropdown-main">
                                    <li><a href="/index-2">Home</a></li>
                                    <li><a href="/about-us">About Us</a></li>
                                    <li>
                                        <a href="/#">Services</a>
                                        <div class="main__dropdown-menu">
                                            <ul>
                                                <li><a href="/healthcare-staffing-services">Healthcare Staffing Services</a></li>
                                                <li><a href="/home-care-service">Home Care Service</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li><a href="/working-for-us">Working for Us</a></li> 
                                    <li><a href="/contact-us" class="active">Contact Us</a></li>
                                    <!-- <li><a href="https://20x.io/Nidaysseedservices/signin/ek5IWVBTWll3bldiSUJDV0dNdzFXZz09" target="_blank">Login</a></li>  -->
                                    <li><a href="https://20x.io/Nidaysseedservices/commonuser_register/ek5IWVBTWll3bldiSUJDV0dNdzFXZz09" target="_blank">Apply Online</a></li>
                                </ul>
                            </nav><!-- end menu__wrapper -->
                            <div class="logo-right-button">
                                <div class="contact-para">
                                    <ul class="social__links">
                                        <li><a href="https://twitter.com/Nidaysseed_services" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="https://www.facebook.com/Nidaysseedhealthcareservices" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                    </ul>
                                </div><!-- end contact-para -->
                            </div><!-- end logo-right-button -->
                        </div><!-- end main-menu -->

                        <a href="tel:2026955090" class="call-bttn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                              <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                            </svg>
                            202-695-5090
                        </a>
                    </div><!-- end menu-full-width -->
                </div><!-- end col-log-12 -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end top-menu-area -->
</section><!-- end menu-area -->
<!-- ================================
            END MENU AREA
================================= -->

<!--================================
         START BANNER AREA
=================================-->
<section class="trusted-area breadcrumb-area text-center">
    <div class="trusted-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="trusted-content">
                        <div class="trusted__title"> 
                            <h2 class="trusted__title-title">Contact Us</h2>
                        </div><!-- end trusted__title -->
                    </div><!-- end trusted-content -->
                </div><!-- end col-md-12 -->
            </div><!-- end row -->
        </div><!-- container -->
    </div><!-- end trusted-fluid -->
</section><!-- end trusted-area -->
<!--================================
      END BANNER AREA
=================================-->

<!--================================
         START CONTACT AREA
=================================-->
<section class="contact-area responsive-content area-padding">
    <div class="contact-fluid">
        <div class="container contact-info">

            <div class="row"> 

                <div class="col-md-8 col-md-offset-2">

                    <div class="avivon-heading mb-40px text-center">
                        <h2 class="avivon__title">Feel Free to Message Us</h2>
                    </div><!-- end avivon-heading -->

                    <div class="comment__form contact__form">
                        <form id="contact-form" action="https://www.Nidaysseedhealthcareservices.co.uk/contact-form.php" method="post">
                            <div class="input__box-input">
                                <input id="name" name="name" type="text" placeholder="Your Name" required>
                            </div>

                            <div class="input__box-input email-box">
                                <input id="email" name="email" type="email" placeholder="Email Address" required>
                            </div>

                            <textarea id="message" name="message" placeholder="Message" required></textarea>

                            <div class="text-center">
                                <button type="submit" class="submit__btn-btn">
                                    Send Message
                                    <span class="fontello icon-angle-double-right"></span>
                                </button>
                            </div>    
                        </form>

                        <div class="response-msg d-none"></div>
                    </div><!-- end comment__form -->
                </div><!-- end col-md-8 -->

            </div><!-- end row -->
        </div><!-- container -->
    </div><!-- end contact-fluid -->
</section><!-- end contact-area -->
<!--================================
      END CONTACT AREA
=================================--> 

<section class="offer-area responsive-content offer--area theme-bg-gray">
    <div class="offer-fluid">
        <div class="container-fluid">
            <div class="row offer-content">

                <div class="col-md-6 col-sm-6 col-xs-12 no-padding-lr">
                    <div class="offer-quote our-office-sec"></div><!-- end offer-quote -->
                </div><!-- end col-md-6 -->

                <div class="col-md-6 col-sm-6 col-xs-12 offer-list-box">
                    <div class="offer-list">

                        <div class="avivon-heading focus-title mb-40px">
                            <h2 class="avivon__title"> Contact Details </h2>
                        </div><!-- end avivon-heading -->

                        <div class="offer-item">
                            <div class="same-offer">
                                <div class="offer__title" style="padding:0;max-width:500px;">

                                    <div class="avivon-heading focus-title">
                                        <p class="avivon__desc contact__desc mt-20px mb-30px">
                                            Avenue Business Centre, <br>
                                            17 New Road Avenue, <br>
                                            Chatham, Kent, <br>
                                            United Kingdom, ME4 6BA
                                        </p>

                                        <p class="avivon__desc contact__desc mt-20px">
                                            Email: <a href="mailto: Damilola.nidaysseed@gmail.com"> Damilola.nidaysseed@gmail.com</a> 
                                        </p>
                                        
                                        <p class="avivon__desc contact__desc mb-30px">
                                            Phone: <a href="tel:442026955090">+1 202-695-5090 </a>
                                        </p>

                                        <p class="avivon__desc contact__desc mt-20px">
                                            Monday - Saturday: 08 AM to 18 PM
                                        </p>

                                        <p class="avivon__desc contact__desc ">
                                            Sunday: 08 AM to 16 PM
                                        </p>
                                    </div>


                                </div><!-- end offer__title -->
                            </div><!-- end same-offer -->
                        </div><!-- end offer-item -->
                    </div><!-- end offer-list -->
                </div><!-- end col-md-6 -->
            </div><!-- end row -->
        </div><!-- container-fluid -->
    </div><!-- end offer-fluid -->
</section>

<!--========= start google map ===========-->
<div id="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2490.128278334247!2d0.5192290157653762!3d51.38232037961472!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8cd03e6a3037b%3A0xea08813fdcbc17ef!2sAvenue%20Business%20Centre!5e0!3m2!1sen!2sin!4v1615899061101!5m2!1sen!2sin" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
<!--========= end google map ===========-->


<section class="footer-area responsive-content theme-bg-dark">
    <div class="footer-fluid">
        <div class="container">
            <div class="row footer-list">

                <div class="col-md-5 col-sm-12">
                    <div class="footer-shared rpd-content"> 
                        <div class="footer__title">
                            <h3 class="footer__title-title">About Us</h3>
                        </div><!-- end footer__title -->

                        <div class="ftp__links">
                            <ul> 
                                <li style="padding:0;">
                                    <p class="add__para-desc">
                                      Nidaysseed Services was established by a team of devoted individuals, each with professional expertise in healthcare and management. United by a fervent commitment to provide superior staffing solutions to organizations, we stand at the forefront of connecting businesses with the talent they need.
                                    </p>
                                </li>
                            </ul>
                        </div><!-- end ftp__links -->

                        <div class="foo-logos clearfix" style="margin:30px 0;">
                            <img src="images/rec-member2.jpg" height="78" alt="rec logo" style="float:left;margin:0 15px 15px 0;">

                            <img src="images/ico-member.jpg" height="78" alt="ico logo" style="float:left;margin:0 15px 15px 0">
                          <img src="images/dc_badge1.png" height="78" alt="dc logo" style="float:left;margin:0 15px 15px 0">
                          <img src="images/cqc_Nidaysseed.png" height="78" alt="dc logo" style="float:left;margin:0 15px 15px 0">
                        </div>

                    </div><!-- end footer-shared -->
                </div><!-- end col-md-4 -->

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="footer-shared rpd-content">
                        <div class="footer__title">
                            <h3 class="footer__title-title">Our Address</h3>
                        </div><!-- end footer__title -->
                        <div class="ftp__links">
                            <ul>
                                <li>
                                    <a href="tel:442026955090">
                                        <i class="fas fa-phone-square"></i> 
                                        +1 202-695-5090
                                    </a>
                                </li>
                                <li>
                                    <a href="mailto: Damilola.nidaysseed@gmail.com">
                                        <i class="fas fa-envelope"></i>
                                         Damilola.nidaysseed@gmail.com
                                    </a>
                                </li>
                                <li>
                                    <p class="add__para-desc">
                                        <i class="fas fa-map"></i> 
                                        18303 BARNEY DRIVE ACCOKEEK MARYLAND 20607                                    </p>
                                </li>
                            </ul>
                        </div><!-- end ftp__links -->
                    </div><!-- end footer-shared -->
                </div><!-- end col-md-4 -->

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-shared">
                        <div class="footer__title">
                            <h3 class="footer__title-title">Navigation</h3>
                        </div><!-- end footer__title -->
                        <div class="ftp__links menu__links clearfix">
                            <ul class="ftp__menu-links pull-left">
                                <li><a href="/index-2">Home</a></li> 
                                <li><a href="/about-us">About Us</a></li> 
                                <li><a href="/healthcare-staffing-services">Healthcare Staffing Services</a></li> 
                                <li><a href="/home-care-service">Home Care Service</a></li>
                                <li><a href="/working-for-us">Working for Us</a></li>
                                <!-- <li><a href="/testimonials">Testimonials</a></li> -->
                                <li><a href="/contact-us">Contact Us</a></li>
                            </ul>
                        </div><!-- end ftp__links -->
                    </div><!-- end footer-shared -->
                </div><!-- end col-md-4 -->
                 
            </div><!-- end row -->

            <div class="row">
                <div class="col-md-12">
                    <div class="copyright-shared">
                        <div class="col-md-8 no-padding-lr">
                            <p class="copy__desc">&copy; Copyright 2024 Nidaysseed Healthcare Services </p>
                        </div><!-- end col-md-8 -->
                        <div class="col-md-4 text-right no-padding-lr"> 
                            <p class="copy__desc">
                                <a href="https://www.20x.io/" target="_blank">Care Agency Software</a> by www.20X.io
                            </p>
                        </div><!-- end col-md-4 -->
                    </div><!-- end copyright-shared -->
                </div><!-- end col-md-12 -->
            </div><!-- end row -->
        </div><!-- container -->
    </div><!-- end footer-fluid -->
</section><!-- end footer-area --> 
<!-- start scroll top --->
<div id="scroll-top">
    <i class="fas fa-arrow-up" title="Go top"></i>
</div>
<!-- end scroll top -->



    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/magnificpopup.js"></script>
    <script src="http://maps.google.com/maps/api/js?v=quarterly&amp;language=en&amp;key=AIzaSyDvwYEsIXbjzlpUz05eDPFqDVdOr6mZwV8&amp;libraries=geometry%2Cplaces%2Cvisualization&amp;"></script>
    <script src="js/gmaps.js"></script>
    <script src="js/main.js"></script> 

    <script>
        $(document).ready(function() { 

            // process the form -------------------------
            $('#contact-form').submit(function(event) {

                event.preventDefault();

                $('.response-msg').addClass('d-none').text('');

                var formData = {
                    'name': $('#name').val(),
                    'email': $('#email').val(),
                    'message': $('#message').val()
                };

                $.ajax({
                    type: 'POST', 
                    url: 'contact-form.php', 
                    data: formData, 
                    dataType: 'json', 
                    encode: true
                }).done(function(data) {

                    console.log(data); 

                    if ( data.success) { 
                        $('.response-msg').removeClass('d-none').text( data.message );
                        $('#name, #email, #message').val('');
                    }

                }).fail(function(data) {
                    $('.response-msg').removeClass('d-none').text( 'Could not reach server, please try again later.' );
                });
            });
        });
    </script>





</body>

<!-- Mirrored from www.Nidaysseedhealthcareservices.co.uk/contact-us by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 30 Jan 2024 01:32:36 GMT -->
</html>