<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from www.Nidaysseedhealthcareservices.co.uk/home-care-service by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 30 Jan 2024 01:32:35 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="UTF-8">
    <!-- viewport meta -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Nidaysseed Healthcare Services - Care With Love">
    <meta name="keywords" content="healthcare, caregiver, healthcare staffing, home care">
    <title>Home Care Service - Nidaysseed Healthcare Services</title>

    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">

    <!-- inject:css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="css/fontello.css">
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css" href="css/magnificpopup.css">
    <link rel="stylesheet" type="text/css" href="css/style4522.css?v=784593">
    <!-- endinject -->
</head>
<body>
<!-- page preloader -->
<div id="loading-area">
    <div class="three col">
        <div class="loader" id="loader-1"></div>
    </div>
</div><!-- end loading -->

<div class="body-overlay"></div><!-- end body-overlay -->

<div class="offcanvas-menu">
    <div class="menu__close"></div><!-- end menu__close -->
    <ul class="off__menu"> 
        <li><a href="/index-2">Home</a></li> 
        <li><a href="/about-us">About Us</a></li> 
        <li><a href="/healthcare-staffing-services">Healthcare Staffing Services</a></li> 
        <li><a href="/home-care-service">Home Care Service</a></li>
        <li><a href="/working-for-us">Working for Us</a></li>
        <!-- <li><a href="/testimonials">Testimonials</a></li> -->
        <li><a href="/contact-us">Contact Us</a></li>
        <!-- <li><a href="https://20x.io/Nidaysseedservices/signin/ek5IWVBTWll3bldiSUJDV0dNdzFXZz09" target="_blank">Login</a></li> -->
        <li><a href="https://20x.io/Nidaysseedservices/commonuser_register/ek5IWVBTWll3bldiSUJDV0dNdzFXZz09" target="_blank">Apply Online</a></li>
        <li><a href="tel:2026955090">Call Us: 202-695-5090</a></li>
        <li>
            <a href="https://twitter.com/Nidaysseed_services" target="_blank" style="margin-right:10px;width:30px;"><i class="fab fa-twitter"></i></a>
            <a href="https://www.facebook.com/Nidaysseedhealthcareservices" target="_blank" style="width:30px;"><i class="fab fa-facebook-f"></i></a>
        </li>
    </ul>
</div><!-- end offcanvas-menu -->

<!-- ================================
        START MENU AREA
================================= -->
<section class="menu-area menu-area-3">
    <div class="top-menu-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 menu-full-box theme-bg-light no-padding-lr">
                    <div class="menu-full-width clearfix">
                        <div class="logo-box">
                            <div class="site-open">
                                <span class="open__only"></span>
                                <span class="open__only"></span>
                                <span class="open__only"></span>
                            </div><!-- end site-open -->
                            <div class="logo">
                                <a href="/index-2" title="Nidaysseed Healthcare Services">
                                    <img src="images/logoebf6.png?v=333" alt="Nidaysseed logo">
                                </a>
                            </div><!-- end logo -->
                        </div><!-- end logo-box -->
                        <div class="main-menu">
                            <nav class="menu__wrapper">
                                <ul class="dropdown-main">
                                    <li><a href="/index-2">Home</a></li>
                                    <li><a href="/about-us">About Us</a></li>
                                    <li>
                                        <a href="/#" class="active">Services</a>
                                        <div class="main__dropdown-menu">
                                            <ul>
                                                <li><a href="/healthcare-staffing-services">Healthcare Staffing Services</a></li>
                                                <li><a href="/home-care-service">Home Care Service</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li><a href="/working-for-us">Working for Us</a></li> 
                                    <li><a href="/contact-us">Contact Us</a></li>
                                    <!-- <li><a href="https://20x.io/Nidaysseedservices/signin/ek5IWVBTWll3bldiSUJDV0dNdzFXZz09" target="_blank">Login</a></li>  -->
                                    <li><a href="https://20x.io/Nidaysseedservices/commonuser_register/ek5IWVBTWll3bldiSUJDV0dNdzFXZz09" target="_blank">Apply Online</a></li>
                                </ul>
                            </nav><!-- end menu__wrapper -->
                            <div class="logo-right-button">
                                <div class="contact-para">
                                    <ul class="social__links">
                                        <li><a href="https://twitter.com/Nidaysseed_services" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="https://www.facebook.com/Nidaysseedhealthcareservices" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                    </ul>
                                </div><!-- end contact-para -->
                            </div><!-- end logo-right-button -->
                        </div><!-- end main-menu -->

                        <a href="tel:2026955090" class="call-bttn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                              <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                            </svg>
                            202-695-5090
                        </a>

                    </div><!-- end menu-full-width -->
                </div><!-- end col-log-12 -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end top-menu-area -->
</section><!-- end menu-area -->
<!-- ================================
            END MENU AREA
================================= -->

<!--================================
          START BANNER AREA
=================================-->
<section class="trusted-area breadcrumb-area text-center">
    <div class="trusted-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="trusted-content">
                        <div class="trusted__title"> 
                            <h2 class="trusted__title-title">Home Care Service</h2>
                        </div><!-- end trusted__title -->
                    </div><!-- end trusted-content -->
                </div><!-- end col-md-12 -->
            </div><!-- end row -->
        </div><!-- container -->
    </div><!-- end trusted-fluid -->
</section><!-- end trusted-area -->
<!--================================
           END BANNER AREA
=================================-->

<!--================================
      START CHOOSE AREA
=================================-->
<section class="choose-area responsive-content choose--area area-padding">
    <div class="choose-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="avivon-heading">

                        <p class="avivon__desc mb-25px">Nidaysseed Healthcare offers a spectrum of premium home care services, designed to cater to a diverse clientele, including individuals with mental health challenges, learning disabilities, end-of-life care needs, dementia, physical disabilities, and sensory loss. Our approach is to create a personalized and tailored experience for each client, ensuring their unique needs are met with the utmost care and professionalism.</p>

                        <p class="avivon__desc">Our home care services are flexible, available on an hourly, daily, or weekly basis, whether it’s for a single visit or comprehensive, around-the-clock support.</p>
                        
                    </div><!-- end avivon-heading -->
                </div><!-- end col-md-12 -->
            </div><!-- end row --> 

        </div><!-- container -->
    </div><!-- end choose-fluid -->
</section><!-- end choose-area -->
<!--================================
         END CHOOSE AREA
=================================--> 

<!--================================
         START OFFER AREA
=================================-->
<section class="offer-area responsive-content offer--area theme-bg-gray">
    <div class="offer-fluid">
        <div class="container-fluid">
            <div class="row offer-content">

                <div class="col-md-6 col-sm-6 col-xs-12 no-padding-lr">
                    <div class="offer-quote homecare-pic"></div><!-- end offer-quote -->
                </div><!-- end col-md-6 -->

                <div class="col-md-6 col-sm-6 col-xs-12 offer-list-box" style="padding:70px 70px 0;">
                    <div class="offer-list">

                        <div class="avivon-heading focus-title mb-30px">
                            <h2 class="avivon__title" style="font-size:30px;line-height:35px;"> 
                                Support is offered in every facet of personal care, encompassing:
                            </h2>
                        </div><!-- end avivon-heading -->

                        <div class="offer-item">
                            <div class="same-offer">
                                <div class="offer__title" style="padding:0;max-width:500px;">

                                    <div class="avivon-heading focus-title">
                                        <ul class="avivon__list mission__list wscu-sec">
                                            <li>
                                                <i class="fas fa-check-circle"></i>
                                                Comprehensive domestic services, available both within care packages or as standalone options.
                                            </li> 
                                            <li>
                                                <i class="fas fa-check-circle"></i>
                                                Round-the-clock care and live-in services.
                                            </li> 
                                            <li>
                                                <i class="fas fa-check-circle"></i>
                                                Overnight stays including active night care and sleepover support.
                                            </li> 
                                            <li>
                                                <i class="fas fa-check-circle"></i>
                                                Assistance with morning routines and bedtime preparations.
                                            </li> 
                                            <li>
                                                <i class="fas fa-check-circle"></i>
                                                Support with hospital discharges, ensuring a smooth transition back home.
                                            </li> 
                                            <li>
                                                <i class="fas fa-check-circle"></i>
                                                Personalized shopping assistance tailored to individual needs.
                                            </li> 
                                            <li>
                                                <i class="fas fa-check-circle"></i>
                                                Laundry services for everyday convenience.
                                            </li> 
                                            <li>
                                                <i class="fas fa-check-circle"></i>
                                                Dignified personal care including bathing.
                                            </li> 
                                            <li>
                                                <i class="fas fa-check-circle"></i>
                                                Nutritious meal preparation and provision.
                                            </li> 
                                            <li>
                                                <i class="fas fa-check-circle"></i>
                                                Escort services for outings and special events, ensuring safety and companionship.
                                            </li> 
                                            <li>
                                                <i class="fas fa-check-circle"></i>
                                                Accompanied holiday services, including international travel, for a seamless experience.
                                            </li> 
                                            <li>
                                                <i class="fas fa-check-circle"></i>
                                                Coordination with healthcare professionals, social workers, and family for comprehensive care support.
                                            </li>  
                                        </ul>
                                        

                                    </div>


                                </div><!-- end offer__title -->
                            </div><!-- end same-offer -->
                        </div><!-- end offer-item -->
                    </div><!-- end offer-list -->
                </div><!-- end col-md-6 -->
            </div><!-- end row -->
        </div><!-- container-fluid -->
    </div><!-- end offer-fluid -->
</section><!-- end offer-area -->
<!--================================
          END OFFER AREA
=================================-->

<section class="meet-area area-padding theme-bg-main">
    <div class="meet-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="meet-heading text-center">
                         
                        <p class="avivon__desc">
                            Support for all the above is provided by vetted professionals and fully qualified nurses and experienced health and social care workers. If you would like to discuss your own personal care requirements or for a member of your family or friend, please do not hesitate to contact us.
                        </p>

                        <a href="contact-us.html" target="_blank" class="meet__btn">
                            BOOK FREE ASSESMENT
                            <span class="fontello icon-angle-double-right"></span>
                        </a>
                    </div><!-- end meet-heading -->
                </div><!-- end col-md-12 -->
            </div><!-- end row -->
        </div><!-- container -->
    </div><!-- end meet-fluid -->
</section><!-- end meet-area -->

<section class="footer-area responsive-content theme-bg-dark">
    <div class="footer-fluid">
        <div class="container">
            <div class="row footer-list">

                <div class="col-md-5 col-sm-12">
                    <div class="footer-shared rpd-content"> 
                        <div class="footer__title">
                            <h3 class="footer__title-title">About Us</h3>
                        </div><!-- end footer__title -->

                        <div class="ftp__links">
                            <ul> 
                                <li style="padding:0;">
                                    <p class="add__para-desc">
                                      Nidaysseed Services was established by a team of devoted individuals, each with professional expertise in healthcare and management. United by a fervent commitment to provide superior staffing solutions to organizations, we stand at the forefront of connecting businesses with the talent they need.
                                    </p>
                                </li>
                            </ul>
                        </div><!-- end ftp__links -->

                        <div class="foo-logos clearfix" style="margin:30px 0;">
                            <img src="images/rec-member2.jpg" height="78" alt="rec logo" style="float:left;margin:0 15px 15px 0;">

                            <img src="images/ico-member.jpg" height="78" alt="ico logo" style="float:left;margin:0 15px 15px 0">
                          <img src="images/dc_badge1.png" height="78" alt="dc logo" style="float:left;margin:0 15px 15px 0">
                          <img src="images/cqc_Nidaysseed.png" height="78" alt="dc logo" style="float:left;margin:0 15px 15px 0">
                        </div>

                    </div><!-- end footer-shared -->
                </div><!-- end col-md-4 -->

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="footer-shared rpd-content">
                        <div class="footer__title">
                            <h3 class="footer__title-title">Our Address</h3>
                        </div><!-- end footer__title -->
                        <div class="ftp__links">
                            <ul>
                                <li>
                                    <a href="tel:442026955090">
                                        <i class="fas fa-phone-square"></i> 
                                        +1 202-695-5090
                                    </a>
                                </li>
                                <li>
                                    <a href="mailto: Damilola.nidaysseed@gmail.com">
                                        <i class="fas fa-envelope"></i>
                                         Damilola.nidaysseed@gmail.com
                                    </a>
                                </li>
                                <li>
                                    <p class="add__para-desc">
                                        <i class="fas fa-map"></i> 
                                        18303 BARNEY DRIVE ACCOKEEK MARYLAND 20607                                    </p>
                                </li>
                            </ul>
                        </div><!-- end ftp__links -->
                    </div><!-- end footer-shared -->
                </div><!-- end col-md-4 -->

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-shared">
                        <div class="footer__title">
                            <h3 class="footer__title-title">Navigation</h3>
                        </div><!-- end footer__title -->
                        <div class="ftp__links menu__links clearfix">
                            <ul class="ftp__menu-links pull-left">
                                <li><a href="/index-2">Home</a></li> 
                                <li><a href="/about-us">About Us</a></li> 
                                <li><a href="/healthcare-staffing-services">Healthcare Staffing Services</a></li> 
                                <li><a href="/home-care-service">Home Care Service</a></li>
                                <li><a href="/working-for-us">Working for Us</a></li>
                                <!-- <li><a href="/testimonials">Testimonials</a></li> -->
                                <li><a href="/contact-us">Contact Us</a></li>
                            </ul>
                        </div><!-- end ftp__links -->
                    </div><!-- end footer-shared -->
                </div><!-- end col-md-4 -->
                 
            </div><!-- end row -->

            <div class="row">
                <div class="col-md-12">
                    <div class="copyright-shared">
                        <div class="col-md-8 no-padding-lr">
                            <p class="copy__desc">&copy; Copyright 2024 Nidaysseed Healthcare Services </p>
                        </div><!-- end col-md-8 -->
                        <div class="col-md-4 text-right no-padding-lr"> 
                            <p class="copy__desc">
                                <a href="https://www.20x.io/" target="_blank">Care Agency Software</a> by www.20X.io
                            </p>
                        </div><!-- end col-md-4 -->
                    </div><!-- end copyright-shared -->
                </div><!-- end col-md-12 -->
            </div><!-- end row -->
        </div><!-- container -->
    </div><!-- end footer-fluid -->
</section><!-- end footer-area --> 
<!-- start scroll top --->
<div id="scroll-top">
    <i class="fas fa-arrow-up" title="Go top"></i>
</div>
<!-- end scroll top -->

<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/magnificpopup.js"></script>
<script src="js/main.js"></script>

</body>

<!-- Mirrored from www.Nidaysseedhealthcareservices.co.uk/home-care-service by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 30 Jan 2024 01:32:35 GMT -->
</html>