<!DOCTYPE html>
<html lang="en">
  
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="UTF-8" />
    <!-- viewport meta -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
``

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Nidaysseed Healthcare Services - Care With Love"
    />
    <meta
      name="keywords"
      content="healthcare, caregiver, healthcare staffing, home care"
    />

    <title>Nidaysseed Healthcare Services - Care With Love</title>

    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" href="images/favicon.png" />

    <!-- revolution slider css -->
    <link rel="stylesheet" type="text/css" href="revolution/css/settings.css" />
    <link rel="stylesheet" type="text/css" href="revolution/css/layers.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="revolution/css/navigation.css"
    />

    <!-- inject:css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="css/fontello.css" />
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="css/owl.theme.default.min.css"
    />
    <link rel="stylesheet" type="text/css" href="css/magnificpopup.css" />
    <link rel="stylesheet" type="text/css" href="css/stylec4b7.css?v=7845914789" />
    <!-- endinject -->

    <style>
      .store-btns a {
        display: inline-block;
      }
      .store-btns a:first-child {
        margin: 0 1em 1em 0;
      }
      .store-btns img {
        max-height: 60px;
      }

      @media (max-width: 500px) {
        .store-btns img {
          max-height: 50px;
        }
      }
      .timesheet-button {
        color: #ffffff;
        border-color: #5e0ea9;
        background-color: #5e0ea9;
        font-family: inherit;
        padding: 0 36px;
        height: 56px;
        line-height: 56px;
        min-width: 180px;
        border-width: 0;
        position: relative;
        display: inline-block;
        text-align: center;
        white-space: nowrap;
        border-style: solid;
        cursor: pointer;
        border-radius: 5px;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 80px;
        letter-spacing: 0em;
        transition:.3s ease;
      }
      .timesheet-button:hover {
        color:#fff;
        background-color: #4b2b66;
      }
    </style>
  </head>
  <body>
    <!-- page preloader -->
    <div id="loading-area">
      <div class="three col">
        <div class="loader" id="loader-1"></div>
      </div>
    </div>
    <!-- end loading -->

    <div class="body-overlay"></div>
    <!-- end body-overlay -->

    <div class="offcanvas-menu">
      <div class="menu__close"></div>
      <!-- end menu__close -->
      <ul class="off__menu">
        <li><a href="/index-2">Home </a></li>
        <li><a href="/about-us">About Us</a></li>
        <li>
          <a href="/healthcare-staffing-services"
            >Healthcare Staffing Services</a
          >
        </li>
        <li><a href="/home-care-service">Home Care Service</a></li>
        <li><a href="/working-for-us">Working for Us</a></li>
        <li><a href="/contact-us">Contact Us</a></li>
        <!-- <li>
          <a
            href="https://20x.io/Nidaysseedservices/signin/ek5IWVBTWll3bldiSUJDV0dNdzFXZz09"
            target="_blank"
            >Login</a
          >
        </li> -->
        <li>
          <a
            href="sssssshttps://20x.io/Nidaysseedservices/commonuser_register/ek5IWVBTWll3bldiSUJDV0dNdzFXZz09"
            target="_blank"
            >Apply Online</a
          >
        </li>
        <li><a href="tel:2026955090">Call Us: 202-695-5090</a></li>
        <li>
          <a
            href="https://twitter.com/Nidaysseed_services"
            target="_blank"
            style="margin-right: 10px; width: 30px"
            ><i class="fab fa-twitter"></i
          ></a>
          <a
            href="https://www.facebook.com/Nidaysseedhealthcareservices"
            target="_blank"
            style="width: 30px"
            ><i class="fab fa-facebook-f"></i
          ></a>
        </li>
      </ul>
    </div>
    <!-- end offcanvas-menu -->

    <!-- ================================
        START MENU AREA
================================= -->
    <section class="menu-area menu-area-3">
      <div class="top-menu-area">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 menu-full-box theme-bg-light no-padding-lr">
              <div class="menu-full-width clearfix">
                <div class="logo-box">
                  <div class="site-open">
                    <span class="open__only"></span>
                    <span class="open__only"></span>
                    <span class="open__only"></span>
                  </div>
                  <!-- end site-open -->
                  <div class="logo">
                    <a href="index-2.html" title="Nidaysseed Healthcare Services">
                      <img src="images/logoebf6.png?v=333" alt="Nidaysseed logo" />
                    </a>
                  </div>
                  <!-- end logo -->
                </div>
                <!-- end logo-box -->
                <div class="main-menu">
                  <nav class="menu__wrapper">
                    <ul class="dropdown-main">
                      <li><a href="/index-2" class="active">Home</a></li>
                      <li><a href="/about-us">About Us</a></li>
                      <li>
                        <a href="/#">Services</a>
                        <div class="main__dropdown-menu">
                          <ul>
                            <li>
                              <a href="/healthcare-staffing-services"
                                >Healthcare Staffing Services</a
                              >
                            </li>
                            <li>
                              <a href="/home-care-service">Home Care Service</a>
                            </li>
                          </ul>
                        </div>
                      </li>
                      <li><a href="/working-for-us">Working for Us</a></li>
                      <li><a href="/contact-us">Contact Us</a></li>
                      <!-- <li>
                        <a
                          href="https://20x.io/Nidaysseedservices/signin/ek5IWVBTWll3bldiSUJDV0dNdzFXZz09"
                          target="_blank"
                          >Login</a
                        >
                      </li> -->
                      <li>
                        <a
                          href="ssssshttps://20x.io/Nidaysseedservices/commonuser_register/ek5IWVBTWll3bldiSUJDV0dNdzFXZz09"
                          target="_blank"
                          >Apply Online</a
                        >
                      </li>
                    </ul>
                  </nav>
                  <!-- end menu__wrapper -->
                  <div class="logo-right-button">
                    <div class="contact-para">
                      <ul class="social__links">
                        <li>
                          <a
                            href="https://twitter.com/Nidaysseed_services"
                            target="_blank"
                            ><i class="fab fa-twitter"></i
                          ></a>
                        </li>
                        <li>
                          <a
                            href="https://www.facebook.com/Nidaysseedhealthcareservices"
                            target="_blank"
                            ><i class="fab fa-facebook-f"></i
                          ></a>
                        </li>
                      </ul>
                    </div>
                    <!-- end contact-para -->
                  </div>
                  <!-- end logo-right-button -->
                </div>
                <!-- end main-menu -->

                <a href="tel:2026955090" class="call-bttn">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-telephone-fill"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"
                    />
                  </svg>
                  202-695-5090
                </a>
              </div>
              <!-- end menu-full-width -->
            </div>
            <!-- end col-log-12 -->
          </div>
          <!-- end row -->
        </div>
        <!-- end container -->
      </div>
      <!-- end top-menu-area -->
    </section>
    <!-- end menu-area -->
    <!-- ================================
            END MENU AREA
================================= -->

    <!--================================
         START REV SLIDER AREA
=================================-->
    <section class="rev-slider-3 slider-area-3">
      <div class="trusted-fluid">
        <div
          id="rev_slider_1078_1_wrapper"
          class="rev_slider_wrapper fullwidthbanner-container"
          data-alias="classic4export"
          data-source="gallery"
        >
          <!-- START REVOLUTION SLIDER 5.4.1 fullwidth mode -->
          <div
            id="rev_slider_1078_1"
            class="rev_slider fullwidthabanner"
            data-version="5.4.1"
          >
            <ul>
              <!-- SLIDE  -->
              <li
                data-index="rs-3045"
                data-transition="boxfade"
                data-slotamount="default"
                data-hideafterloop="0"
                data-hideslideonmobile="off"
                data-easein="Power4.easeInOut"
                data-easeout="Power4.easeInOut"
                data-masterspeed="2000"
                data-rotate="0"
                data-fstransition="fade"
                data-fsmasterspeed="1500"
                data-fsslotamount="7"
                data-saveperformance="off"
                data-title="Intro"
                data-param1=""
                data-param2=""
                data-param3=""
                data-param4=""
                data-param5=""
                data-param6=""
                data-param7=""
                data-param8=""
                data-param9=""
                data-param10=""
                data-description=""
              >
                <!-- MAIN IMAGE -->
                <img
                  src="images/home3-slidebg-1.jpg"
                  alt=""
                  data-bgposition="center center"
                  data-bgfit="cover"
                  data-bgrepeat="no-repeat"
                  data-bgparallax="10"
                  class="rev-slidebg"
                  data-no-retina
                />
                <!-- LAYERS -->

                <div
                  class="tp-caption tp-resizeme"
                  id="slide-3045-layer-1"
                  data-x="['center','center','center','center']"
                  data-hoffset="0 0 0 0"
                  data-y="['middle','middle','middle','middle']"
                  data-voffset="['-30','-30','-30','-30']"
                  data-fontsize="['100','100','70','70']"
                  data-lineheight="['90', '90', '70', '70']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-type="text"
                  data-responsive_offset="on"
                  data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 8; white-space: nowrap"
                >
                  <h2 class="slide__title">Healthcare Recruitment</h2>
                </div>
                <!-- end tp-caption -->

                <!-- LAYER NR. 2 -->
                <div
                  class="tp-caption tp-resizeme"
                  id="slide-3045-layer-2"
                  data-x="['center','center','center','center']"
                  data-hoffset="0 0 0 0"
                  data-y="['middle','middle','middle','middle']"
                  data-voffset="['60', '60', '60', '0']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-fontsize="['100','100','70','70']"
                  data-lineheight="['120', '120', '80', '50']"
                  data-type="text"
                  data-responsive_offset="on"
                  data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":750,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 9; white-space: nowrap"
                >
                  <h2 class="slide__title2">Services</h2>
                </div>
                <!-- end tp-caption -->

                <!-- LAYER NR. 3 -->
                <div
                  class="tp-caption tp-resizeme"
                  id="slide-3045-layer-3"
                  data-x="['center','center','center','center']"
                  data-hoffset="0 0 0 0"
                  data-y="['middle','middle','middle','middle']"
                  data-voffset="['170', '170', '170', '170']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-type="text"
                  data-responsive_offset="on"
                  data-fontsize="['20','20','16','16']"
                  data-lineheight="['34', '34', '34', '34']"
                  data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                  data-textAlign="['center','center','center','center']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 9; white-space: nowrap"
                >
                  <p class="slide__desc">
                    Transforming Services Into <br />
                    Your Pillar of Resilience.
                  </p>
                </div>
                <!-- end tp-caption -->

                <!-- LAYER NR. 3 -->
                <!-- <div
                  class="tp-caption tp-resizeme"
                  id="slide-3045-layer-4"
                  data-x="['center','center','center','center']"
                  data-hoffset="0 0 0 0"
                  data-y="['middle','middle','middle','middle']"
                  data-voffset="['262', '262', '262', '262']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-type="text"
                  data-responsive_offset="on"
                  data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","speed":2000,"to":"o:1;","delay":1250,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[175%];","mask":"x:inherit;y:inherit;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power3.easeOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 9; white-space: nowrap"
                > -->
                  <!-- <a
                    href="https://20x.io/Nidaysseedservices/signin/ek5IWVBTWll3bldiSUJDV0dNdzFXZz09"
                    class="get-btn"
                  >
                    Login <span class="fontello icon-angle-double-right"></span>
                  </a>

                  <a
                    href="https://20x.io/Nidaysseedservices/commonuser_register/ek5IWVBTWll3bldiSUJDV0dNdzFXZz09"
                    class="get-btn"
                  >
                    Register
                    <span class="fontello icon-angle-double-right"></span>
                  </a> -->
                <!-- </div> -->
                <!-- end tp-caption -->
              </li>

              <li
                data-index="rs-3046"
                data-transition="slotfade-vertical"
                data-slotamount="default"
                data-hideafterloop="0"
                data-hideslideonmobile="off"
                data-easein="Power4.easeInOut"
                data-easeout="Power4.easeInOut"
                data-masterspeed="2000"
                data-rotate="0"
                data-fstransition="fade"
                data-fsmasterspeed="1500"
                data-fsslotamount="7"
                data-saveperformance="off"
                data-title="Intro"
                data-param1=""
                data-param2=""
                data-param3=""
                data-param4=""
                data-param5=""
                data-param6=""
                data-param7=""
                data-param8=""
                data-param9=""
                data-param10=""
                data-description=""
              >
                <!-- MAIN IMAGE -->
                <img
                  src="images/home3-slidebg-2.jpg"
                  alt=""
                  data-bgposition="center center"
                  data-bgfit="cover"
                  data-bgrepeat="no-repeat"
                  data-bgparallax="10"
                  class="rev-slidebg"
                  data-no-retina
                />
                <!-- LAYERS -->

                <div
                  class="tp-caption tp-resizeme"
                  id="slide-3046-layer-1"
                  data-x="['center','center','center','center']"
                  data-hoffset="0 0 0 0"
                  data-y="['middle','middle','middle','middle']"
                  data-voffset="['-30','-30','-30','-30']"
                  data-fontsize="['100','100','70','70']"
                  data-lineheight="['90', '90', '70', '70']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-type="text"
                  data-responsive_offset="on"
                  data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 8; white-space: nowrap"
                >
                  <h2 class="slide__title">Seeking Registered Experts</h2>
                </div>
                <!-- end tp-caption -->

                <!-- LAYER NR. 2 -->
                <div
                  class="tp-caption tp-resizeme"
                  id="slide-3046-layer-2"
                  data-x="['center','center','center','center']"
                  data-hoffset="0 0 0 0"
                  data-y="['middle','middle','middle','middle']"
                  data-voffset="['60', '60', '60', '60']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-fontsize="['100','100','70','70']"
                  data-lineheight="['120', '120', '80', '70']"
                  data-type="text"
                  data-responsive_offset="on"
                  data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":750,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 9; white-space: nowrap"
                >
                  <h2 class="slide__title2">Nurses</h2>
                </div>
                <!-- end tp-caption -->

                <!-- LAYER NR. 3 -->
                <div
                  class="tp-caption tp-resizeme"
                  id="slide-3046-layer-3"
                  data-x="['center','center','center','center']"
                  data-hoffset="0 0 0 0"
                  data-y="['middle','middle','middle','middle']"
                  data-voffset="['170', '170', '170', '170']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-type="text"
                  data-responsive_offset="on"
                  data-fontsize="['20','20','16','16']"
                  data-lineheight="['34', '34', '34', '34']"
                  data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                  data-textAlign="['center','center','center','center']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 9; white-space: nowrap"
                >
                  <p class="slide__desc">
                    A reliable accomplice to streamline <br />
                    Your requirements for hiring
                  </p>
                </div>
                <!-- end tp-caption -->

                <!-- LAYER NR. 3 -->
                <!-- <div
                  class="tp-caption tp-resizeme"
                  id="slide-3046-layer-4"
                  data-x="['center','center','center','center']"
                  data-hoffset="0 0 0 0"
                  data-y="['middle','middle','middle','middle']"
                  data-voffset="['262', '262', '262', '262']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-type="text"
                  data-responsive_offset="on"
                  data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","speed":2000,"to":"o:1;","delay":1250,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[175%];","mask":"x:inherit;y:inherit;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power3.easeOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 9; white-space: nowrap"
                > -->
                  <!-- <a
                    href="https://20x.io/Nidaysseedservices/signin/ek5IWVBTWll3bldiSUJDV0dNdzFXZz09"
                    class="get-btn"
                  >
                    Login <span class="fontello icon-angle-double-right"></span>
                  </a>

                  <a
                    href="https://20x.io/Nidaysseedservices/commonuser_register/ek5IWVBTWll3bldiSUJDV0dNdzFXZz09"
                    class="get-btn"
                  >
                    Register
                    <span class="fontello icon-angle-double-right"></span>
                  </a> -->
                <!-- </div> -->
                <!-- end tp-caption -->
              </li>

              <li
                data-index="rs-3047"
                data-transition="boxfade"
                data-slotamount="default"
                data-hideafterloop="0"
                data-hideslideonmobile="off"
                data-easein="Power4.easeInOut"
                data-easeout="Power4.easeInOut"
                data-masterspeed="2000"
                data-rotate="0"
                data-fstransition="fade"
                data-fsmasterspeed="1500"
                data-fsslotamount="7"
                data-saveperformance="off"
                data-title="Intro"
                data-param1=""
                data-param2=""
                data-param3=""
                data-param4=""
                data-param5=""
                data-param6=""
                data-param7=""
                data-param8=""
                data-param9=""
                data-param10=""
                data-description=""
              >
                <!-- MAIN IMAGE -->
                <img
                  src="images/home3-slidebg-3.jpg"
                  alt=""
                  data-bgposition="center center"
                  data-bgfit="cover"
                  data-bgrepeat="no-repeat"
                  data-bgparallax="10"
                  class="rev-slidebg"
                  data-no-retina
                />
                <!-- LAYERS -->

                <div
                  class="tp-caption tp-resizeme"
                  id="slide-3047-layer-1"
                  data-x="['center','center','center','center']"
                  data-hoffset="0 0 0 0"
                  data-y="['middle','middle','middle','middle']"
                  data-voffset="['-30','-30','-30','-30']"
                  data-fontsize="['100','100','70','70']"
                  data-lineheight="['90', '90', '70', '70']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-type="text"
                  data-responsive_offset="on"
                  data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 8; white-space: nowrap"
                >
                  <h2 class="slide__title">Recruiting</h2>
                </div>
                <!-- end tp-caption -->

                <!-- LAYER NR. 2 -->
                <div
                  class="tp-caption tp-resizeme"
                  id="slide-3047-layer-2"
                  data-x="['center','center','center','center']"
                  data-hoffset="0 0 0 0"
                  data-y="['middle','middle','middle','middle']"
                  data-voffset="['60', '60', '60', '60']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-fontsize="['100','100','70','70']"
                  data-lineheight="['120', '120', '80', '70']"
                  data-type="text"
                  data-responsive_offset="on"
                  data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":750,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 9; white-space: nowrap"
                >
                  <h2 class="slide__title2">Healthcare Assistants</h2>
                </div>
                <!-- end tp-caption -->

                <!-- LAYER NR. 3 -->
                <div
                  class="tp-caption tp-resizeme"
                  id="slide-3047-layer-3"
                  data-x="['center','center','center','center']"
                  data-hoffset="0 0 0 0"
                  data-y="['middle','middle','middle','middle']"
                  data-voffset="['170', '170', '170', '170']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-type="text"
                  data-responsive_offset="on"
                  data-fontsize="['20','20','16','16']"
                  data-lineheight="['34', '34', '34', '34']"
                  data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                  data-textAlign="['center','center','center','center']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 9; white-space: nowrap"
                >
                  <p class="slide__desc">
                    Our proficiency is in delivering unparalleled <br />
                     service to our clients.
                  </p>
                </div>
                <!-- end tp-caption -->

                <!-- LAYER NR. 3 -->
                <!-- <div
                  class="tp-caption tp-resizeme"
                  id="slide-3047-layer-4"
                  data-x="['center','center','center','center']"
                  data-hoffset="0 0 0 0"
                  data-y="['middle','middle','middle','middle']"
                  data-voffset="['262', '262', '262', '262']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-type="text"
                  data-responsive_offset="on"
                  data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","speed":2000,"to":"o:1;","delay":1250,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[175%];","mask":"x:inherit;y:inherit;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power3.easeOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 9; white-space: nowrap"
                > -->
                  <!-- <a
                    href="https://20x.io/Nidaysseedservices/signin/ek5IWVBTWll3bldiSUJDV0dNdzFXZz09"
                    class="get-btn"
                  >
                    Login <span class="fontello icon-angle-double-right"></span>
                  </a>

                  <a
                    href="https://20x.io/Nidaysseedservices/commonuser_register/ek5IWVBTWll3bldiSUJDV0dNdzFXZz09"
                    class="get-btn"
                  >
                    Register
                    <span class="fontello icon-angle-double-right"></span>
                  </a> -->
                <!-- </div> -->
                <!-- end tp-caption -->
              </li>
            </ul>
            <div class="tp-bannertimer tp-bottom"></div>
          </div>
          <!-- end fullwidthabanner -->
        </div>
        <!-- END REVOLUTION SLIDER -->
      </div>
      <!-- end trusted-fluid -->
    </section>
    <!-- end rev-slider-2 -->
    <!--================================
      END REV SLIDER   AREA
=================================-->

    <!--================================
          START THINK AREA
=================================-->
    <section class="think-area responsive-content think--area area-padding">
      <div class="think-fluid">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="avivon-heading inspire-title2 mb-40px">
                <h2 class="avivon__title third__title">
                  Exceptional, skilled professionals <br />
                  for both private and public entities
                </h2>
              </div>
              <!-- end avivon-heading -->
            </div>
            <!-- end col-md-12 -->
          </div>
          <!-- end row -->
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="think-column-box boxed-bg-3">
                <div class="think-boxed">
                  <h3 class="boxed__title">Learn about working for us</h3>
                  <a href="/working-for-us" class="boxed__btn"
                    >Read More
                    <span class="fontello icon-angle-double-right"></span>
                  </a>
                </div>
                <!-- end think-boxed -->
              </div>
              <!-- end think-column -->
            </div>
            <!-- end col-md-6 -->
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="think-column-box boxed-bg-4">
                <div class="think-boxed">
                  <h3 class="boxed__title">Get a professional advice</h3>
                  <a href="/contact-us" class="boxed__btn"
                    >Contact Us
                    <span class="fontello icon-angle-double-right"></span>
                  </a>
                </div>
                <!-- end think-boxed -->
              </div>
              <!-- end think-column -->
            </div>
            <!-- end col-md-6 -->
          </div>
          <!-- end row -->
        </div>
        <!-- end container -->
      </div>
      <!-- end think-fluid -->
    </section>
    <!-- end think-area -->
    <!--================================
         END THINK AREA
=================================-->

    <!--================================
          START TRUSTED AREA
=================================-->
    <section class="trusted-area parallax-area area-padding text-center">
      <div class="trusted-fluid">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="trusted-content">
                <div class="trusted__icon mb-53px">
                  <span class="fontello icon-money"></span>
                </div>
                <!-- end trusted__icon -->
                <div class="trusted__title mb-60px">
                  <h2 class="trusted__title-title">
                    Your reliable business ally
                  </h2>
                </div>
                <!-- end trusted__title -->
                <div class="trusted__btn">
                  <a
                    href="sssshttps://20x.io/Nidaysseedservices/commonuser_register/ek5IWVBTWll3bldiSUJDV0dNdzFXZz09"
                    class="trusted__btn-btn"
                    target="_blank"
                  >
                    Apply Online
                    <span class="fontello icon-angle-double-right"></span>
                  </a>
                </div>
                <!-- end trusted__btn -->
              </div>
              <!-- end trusted-content -->
            </div>
            <!-- end col-md-12 -->
          </div>
          <!-- end row -->
        </div>
        <!-- container -->
      </div>
      <!-- end trusted-fluid -->
    </section>
    <!-- end trusted-area -->
    <!--================================
         END TRUSTED AREA
=================================-->

    <!--================================
        START SERVICE AREA
 =================================-->

    <section class="trusted-area blockquote-area avivon-pb text-center">
      <div class="trusted-fluid">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="trusted-content quote-slide avivon-pt">
                <div class="ts-item">
                  <div class="trusted__icon mb-50px">
                    <span class="block__symbol">“</span>
                  </div>
                  <!-- end trusted__icon -->
                  <div class="trusted__title">
                    <h2 class="trusted__title-title">
                      “For an extended period, I've relied on Nidaysseed Healthcare Services. Their unwavering dedication, commitment, and dependable services continually impress me, especially when I need support at the very last minute.”
                    </h2>
                    <p class="trusted__desc-desc mt-35px">
                      <span>Sam Walth </span> / Care Home Manager
                    </p>
                  </div>
                  <!-- end trusted__title -->
                </div>
                <!-- end ts-item -->

                <div class="ts-item">
                  <div class="trusted__icon mb-50px">
                    <span class="block__symbol">“</span>
                  </div>
                  <!-- end trusted__icon -->
                  <div class="trusted__title">
                    <h2 class="trusted__title-title">
                      “I serve as a senior HCA at Nidaysseed Services and am profoundly grateful for the opportunity and support provided by management. The prompt weekly payments, without the need for reminders, stand out as a testament to their professionalism. I wholeheartedly recommend it as an excellent workplace.”
                    </h2>
                    <p class="trusted__desc-desc mt-35px">
                      <span> Cookson Sleeve</span> / Senior HCA
                    </p>
                  </div>
                  <!-- end trusted__title -->
                </div>
                <!-- end ts-item -->
              </div>
              <!-- end trusted-content -->
            </div>
            <!-- end col-md-12 -->
          </div>
          <!-- end row -->
        </div>
        <!-- container -->
      </div>
      <!-- end trusted-fluid -->
    </section>
    <!-- end trusted-area -->
    <!--================================
            END TRUSTED AREA
=================================-->

    <!--================================
           START OFFER AREA
 =================================-->
    <section class="offer-area responsive-content offer--area theme-bg-gray">
      <div class="offer-fluid">
        <div class="container-fluid">
          <div class="row offer-content">
            <div class="col-md-6 col-sm-6 col-xs-12 no-padding-lr">
              <div class="offer-quote"></div>
              <!-- end offer-quote -->
            </div>
            <!-- end col-md-6 -->
            <div class="col-md-6 col-sm-6 col-xs-12 offer-list-box">
              <div class="offer-list">
                <div class="avivon-heading offer-title mb-80px">
                  <h2 class="avivon__title">About Us</h2>
                </div>
                <!-- end avivon-heading -->
                <div class="offer-item">
                  <div class="same-offer">
                    <div class="offer__title">
                      <span
                        class="fontello icon-human-resources offer-icon"
                      ></span>
                      <h3>Nidaysseed Healthcare Services</h3>
                      <p class="offer__desc mt-30px mb-40px">
                        Nidaysseed Healthcare Services was founded by dedicated professionals with deep expertise in both healthcare and management. Driven by a passion for excellence, we specialize in delivering top-tier staffing solutions to both private and public sector organizations. Our mission is to set the standard in healthcare recruitment, ensuring our clients receive unparalleled service and access to highly qualified, committed professionals.
                      </p>
                      <h3 class="quote__sign"></h3>
                      <span class="quote__span"></span>
                    </div>
                    <!-- end offer__title -->
                  </div>
                  <!-- end same-offer -->
                </div>
                <!-- end offer-item -->
              </div>
              <!-- end offer-list -->
            </div>
            <!-- end col-md-6 -->
          </div>
          <!-- end row -->
        </div>
        <!-- container-fluid -->
      </div>
      <!-- end offer-fluid -->
    </section>
    <!-- end offer-area -->
    <!--================================
           END OFFER AREA
 =================================-->

    <!--================================
          START CHOOSE AREA
=================================-->
    <section
      class="
        choose-area
        responsive-content
        choose--area
        avivon-pt
        section-pb
        text-center
      "
    >
      <div class="choose-fluid">
        <div class="container">
          <div class="row">
            <div class="col-md-12 primary-padding">
              <div class="avivon-heading">
                <h2 class="avivon__title fourth__title">What We Offer</h2>
              </div>
              <!-- end avivon-heading -->
            </div>
            <!-- end col-md-12 -->
          </div>
          <!-- end row -->
          <div class="row choose-content section-pb">
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="choose-same">
                <div class="choose__icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="40"
                    height="40"
                    fill="currentColor"
                    class="bi bi-telephone-inbound"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M15.854.146a.5.5 0 0 1 0 .708L11.707 5H14.5a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 1 0v2.793L15.146.146a.5.5 0 0 1 .708 0zm-12.2 1.182a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"
                    />
                  </svg>
                </div>
                <!-- end choose__icon -->
                <div class="choose__title">
                  <h3>Help & Support</h3>
                </div>
                <!-- end choose__title -->
                <div class="choose__desc">
                  <p>
                    Our specialty is offering the greatest agency nurses available on short notice.
                  </p>
                </div>
                <!-- end choose__desc -->
              </div>
              <!-- end choose-same -->
            </div>
            <!-- end col-md-4 -->

            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="choose-same">
                <div class="choose__icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="40"
                    height="40"
                    fill="currentColor"
                    class="bi bi-people-fill"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
                    />
                    <path
                      fill-rule="evenodd"
                      d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"
                    />
                    <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z" />
                  </svg>
                </div>
                <!-- end choose__icon -->
                <div class="choose__title">
                  <h3>Reliable & Effective Staffs</h3>
                </div>
                <!-- end choose__title -->
                <div class="choose__desc">
                  <p>
                    Nidaysseed Services guarantees that your new hires are not only qualified and dependable but also a perfect match for your organization.
                  </p>
                </div>
                <!-- end choose__desc -->
              </div>
              <!-- end choose-same -->
            </div>
            <!-- end col-md-4 -->

            <div
              class="
                col-md-4
                col-sm-6
                col-xs-12
                col-lg-offset-0
                col-md-offset-0
                col-sm-offset-3
                col-xs-offset-0
              "
            >
              <div class="choose-same rpl-content">
                <div class="choose__icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="40"
                    height="40"
                    fill="currentColor"
                    class="bi bi-heart"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"
                    />
                  </svg>
                </div>
                <!-- end choose__icon -->
                <div class="choose__title">
                  <h3>Care for You</h3>
                </div>
                <!-- end choose__title -->
                <div class="choose__desc">
                  <p>
                    Our care services are tailored for versatility, ensuring timely and appropriate support for a wide spectrum of clients.
                  </p>
                </div>
                <!-- end choose__desc -->
              </div>
              <!-- end choose-same -->
            </div>
            <!-- end col-md-4 -->
          </div>
          <!-- end row -->
          <!-- timesheet-button -->
          <p
            style="
              margin: 31px auto;
              color: #696969;
              font-weight: 500;
              font-size: 15px;
            "
          >
            Already working with us?
          </p>
          <a class="timesheet-button" href="Timesheet/time-sheet.pdf">
            Download Timesheet
          </a>

          <div class="row">
            <div class="col-md-12 choose-box">
              <div class="choose-popup">
                <img src="images/service14.jpg" alt="choose image" />

                <br /><br />

                <div class="avivon-heading">
                  <h2 class="avivon__title fourth__title">Our Objective</h2>
                </div>

                <p class="offer__desc mt-50px mb-50px">
                  Our mission is to enhance the quality of life for our clients by providing unparalleled clinical excellence, exceptional service, and compassionate care. We aspire to be acknowledged as the premier provider of home health services, setting the industry standard for excellence and compassion in care.
                </p>
                <!-- <a class="timesheet-button" href="Nidaysseed-files/Brochure.pdf">Download Brouchure</a> -->
              </div>
              <!-- end choose-popup -->
            </div>
            <!-- end col-md-12 -->
          </div>
          <!-- end row -->
        </div>
        <!-- container -->
      </div>
      <!-- end choose-fluid -->
    </section>
    <!-- end choose-area -->
    <!--================================
           END CHOOSE AREA
=================================-->

    <!--================================
           START OFFER AREA
 =================================-->
    <section class="offer-area responsive-content offer--area theme-bg-gray">
      <div class="offer-fluid">
        <div class="container-fluid">
          <div class="row offer-content">
            <div class="col-md-6 col-sm-12 no-padding-lr">
              <div class="offer-quote app-img-sec"></div>
            </div>
            <!-- end col-md-6 -->

            <div class="col-md-6 col-sm-12 offer-list-box">
              <div class="offer-list">
                <div class="avivon-heading offer-title mb-80px">
                  <h2 class="avivon__title">The Maxim Staffing discrepancy
                  </h2>
                </div>
                <!-- end avivon-heading -->
                <div class="offer-item">
                  <div class="same-offer">
                    <div class="offer__title" style="padding: 0">
                      <div class="avivon-heading">
                        <ul
                          class="
                            avivon__list
                            mission__list
                            mt-50px
                            mb-40px
                            wscu-sec
                          "
                        >
                          <li class="mb-20px">
                            <i class="fas fa-check-circle"></i>
                            <h4>A varied pool of candidates
                            </h4>
                            We have a database full of qualified healthcare professionals that are eager to work, whether they are nurses, medical billers and coders, or advanced practitioners.
                          </li>
                          <li class="mb-20px">
                            <i class="fas fa-check-circle"></i>
                            <h4>
                              Customized workforce solutions
                            </h4>
                            Our healthcare recruitment firm is dedicated to assisting your company in growing by collaborating with you to provide high-quality solutions to your specific staffing needs.
                          </li>
                          <li>
                            <i class="fas fa-check-circle"></i>
                            <h4>
                              Partnering with experts in recruiting

                            </h4>
                            Expert recruiters train and certify candidates. Your requirements, whether contract or full-time, will be met to the highest standard.
                          </li>
                        </ul>
                      </div>
<!-- 
                      <div class="store-btns">
                        <a
                          href="https://apps.apple.com/in/app/Nidaysseed-healthcare-services/id1557272323#?platform=iphone"
                          target="_blank"
                        >
                          <img
                            src="images/app-store.png"
                            alt="ios app store icon"
                          />
                        </a>

                        <a
                          href="https://play.google.com/store/apps/details?id=io.u20x.Nidaysseedservices"
                          target="_blank"
                        >
                          <img
                            src="images/play-store.png"
                            alt="play store icon"
                          />
                        </a>
                      </div> -->
                    </div>
                    <!-- end offer__title -->
                  </div>
                  <!-- end same-offer -->
                </div>
                <!-- end offer-item -->
              </div>
              <!-- end offer-list -->
            </div>
            <!-- end col-md-6 -->
          </div>
          <!-- end row -->
        </div>
        <!-- container-fluid -->
      </div>
      <!-- end offer-fluid -->
    </section>
    <!-- end offer-area -->
    <!--================================
           END OFFER AREA
 =================================-->

    <!--================================
           START FUNFACT AREA
=================================-->
    <section
      class="
        funfact-area
        responsive-content
        parallax-area
        area-padding
        text-center
      "
    >
      <div class="funfact-fluid">
        <div class="container">
          <div class="row">
            <div class="col-md-12 primary-padding-2">
              <div class="avivon-heading">
                <h2 class="avivon__title seven__title">numbers speak</h2>
              </div>
              <!-- end avivon-heading -->
            </div>
            <!-- end col-md-12 -->
          </div>
          <!-- end row -->
          <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12 fact-border fun-countdown">
              <div class="funfact-shared">
                <div class="fun__icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="80"
                    height="80"
                    fill="currentColor"
                    class="bi bi-people-fill"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
                    />
                    <path
                      fill-rule="evenodd"
                      d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"
                    />
                    <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z" />
                  </svg>
                </div>
                <!-- end team__img-->
                <div class="fun__fact"><span class="counter">120</span>+</div>
                <!-- end fun__fact -->
                <div class="fun__desc">
                  <span class="team__title-span">Happy Clients</span>
                </div>
                <!-- end fun__desc -->
              </div>
              <!-- end funfact-shared -->
            </div>
            <!-- end col-md-4 -->

            <div class="col-md-4 col-sm-6 col-xs-12 fact-border fun-countdown">
              <div class="funfact-shared">
                <div class="fun__icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="70"
                    height="70"
                    fill="currentColor"
                    class="bi bi-person-badge"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M6.5 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zM11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"
                    />
                    <path
                      d="M4.5 0A2.5 2.5 0 0 0 2 2.5V14a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2.5A2.5 2.5 0 0 0 11.5 0h-7zM3 2.5A1.5 1.5 0 0 1 4.5 1h7A1.5 1.5 0 0 1 13 2.5v10.795a4.2 4.2 0 0 0-.776-.492C11.392 12.387 10.063 12 8 12s-3.392.387-4.224.803a4.2 4.2 0 0 0-.776.492V2.5z"
                    />
                  </svg>
                </div>
                <!-- end team__img-->
                <div class="fun__fact"><span class="counter">350</span>+</div>
                <!-- end fun__fact -->
                <div class="fun__desc">
                  <span class="team__title-span">Carers</span><br />
                </div>
                <!-- end fun__desc -->
              </div>
              <!-- end funfact-shared -->
            </div>
            <!-- end col-md-4 -->

            <div
              class="
                col-md-4
                col-sm-6
                col-xs-12
                col-lg-offset-0
                col-md-offset-0
                col-sm-offset-3
                col-xs-offset-0
                fun-countdown
              "
            >
              <div class="funfact-shared rpl-content">
                <div class="fun__icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="80"
                    height="80"
                    fill="currentColor"
                    class="bi bi-person-lines-fill"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"
                    />
                  </svg>
                </div>
                <!-- end team__img-->
                <div class="fun__fact"><span class="counter">20</span>+</div>
                <!-- end fun__fact -->
                <div class="fun__desc">
                  <span class="team__title-span">Nurses</span>
                </div>
                <!-- end fun__desc -->
              </div>
              <!-- end funfact-shared -->
            </div>
            <!-- end col-md-4 -->
          </div>
          <!-- end row -->
        </div>
        <!-- container -->
      </div>
      <!-- end funfact-fluid -->
    </section>
    <!-- end funfact-area -->
    <!--================================
             END FUNFACT AREA
=================================-->

    <!--================================
          START MEET AREA
 =================================-->
    <section class="meet-area start-area padding theme-bg-main">
      <div class="meet-fluid">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="meet-heading">
                <h2 class="start__title">Call us for help now!</h2>
                <a href="tel:2026955090" class="meet__btn"
                  >202-695-5090
                  <span class="fontello icon-angle-double-right"></span>
                </a>
              </div>
              <!-- end meet-heading -->
            </div>
            <!-- end col-md-12 -->
          </div>
          <!-- end row -->
        </div>
        <!-- container -->
      </div>
      <!-- end meet-fluid -->
    </section>
    <!-- end meet-area -->
    <!--================================
          END MEET AREA
=================================-->

    <section class="footer-area responsive-content theme-bg-dark">
    <div class="footer-fluid">
        <div class="container">
            <div class="row footer-list">

                <div class="col-md-5 col-sm-12">
                    <div class="footer-shared rpd-content"> 
                        <div class="footer__title">
                            <h3 class="footer__title-title">About Us</h3>
                        </div><!-- end footer__title -->

                        <div class="ftp__links">
                            <ul> 
                                <li style="padding:0;">
                                    <p class="add__para-desc">
                                      Nidaysseed Services was established by a team of devoted individuals, each with professional expertise in healthcare and management. United by a fervent commitment to provide superior staffing solutions to organizations, we stand at the forefront of connecting businesses with the talent they need.                                    </p>
                                </li>
                            </ul>
                        </div><!-- end ftp__links -->

                        <div class="foo-logos clearfix" style="margin:30px 0;">
                            <img src="images/rec-member2.jpg" height="78" alt="rec logo" style="float:left;margin:0 15px 15px 0;">

                            <img src="images/ico-member.jpg" height="78" alt="ico logo" style="float:left;margin:0 15px 15px 0">
                          <img src="images/dc_badge1.png" height="78" alt="dc logo" style="float:left;margin:0 15px 15px 0">
                          <!-- <img src="images/cqc_Nidaysseed.png" height="78" alt="dc logo" style="float:left;margin:0 15px 15px 0"> -->
                        </div>

                    </div><!-- end footer-shared -->
                </div><!-- end col-md-4 -->

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="footer-shared rpd-content">
                        <div class="footer__title">
                            <h3 class="footer__title-title">Our Address</h3>
                        </div><!-- end footer__title -->
                        <div class="ftp__links">
                            <ul>
                                <li>
                                    <a href="tel:442026955090">
                                        <i class="fas fa-phone-square"></i> 
                                        +1 202-695-5090
                                    </a>
                                </li>
                                <li>
                                    <a href="mailto: Damilola.nidaysseed@gmail.com">
                                        <i class="fas fa-envelope"></i>
                                         Damilola.nidaysseed@gmail.com
                                    </a>
                                </li>
                                <li>
                                    <p class="add__para-desc">
                                        <i class="fas fa-map"></i> 
                                        18303 BARNEY DRIVE ACCOKEEK MARYLAND 20607                                    </p>
                                </li>
                            </ul>
                        </div><!-- end ftp__links -->
                    </div><!-- end footer-shared -->
                </div><!-- end col-md-4 -->

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-shared">
                        <div class="footer__title">
                            <h3 class="footer__title-title">Navigation</h3>
                        </div><!-- end footer__title -->
                        <div class="ftp__links menu__links clearfix">
                            <ul class="ftp__menu-links pull-left">
                              <li><a href="/index-2">Home</a></li> 
                              <li><a href="/about-us">About Us</a></li> 
                              <li><a href="/healthcare-staffing-services">Healthcare Staffing Services</a></li> 
                              <li><a href="/home-care-service">Home Care Service</a></li>
                              <li><a href="/working-for-us">Working for Us</a></li>
                              <!-- <li><a href="/testimonials">Testimonials</a></li> -->
                              <li><a href="/contact-us">Contact Us</a></li>
                            </ul>
                        </div><!-- end ftp__links -->
                    </div><!-- end footer-shared -->
                </div><!-- end col-md-4 -->
                 
            </div><!-- end row -->

            <div class="row">
                <div class="col-md-12">
                    <div class="copyright-shared">
                        <div class="col-md-8 no-padding-lr">
                            <p class="copy__desc">&copy; Copyright 2024 Nidaysseed Healthcare Services </p>
                        </div><!-- end col-md-8 -->
                        <div class="col-md-4 text-right no-padding-lr"> 
                            <p class="copy__desc">
                              <a href="http://executiveconsults.com/" target="_blank">Powered </a> by Executive Consults
                            </p>
                        </div><!-- end col-md-4 -->
                    </div><!-- end copyright-shared -->
                </div><!-- end col-md-12 -->
            </div><!-- end row -->
        </div><!-- container -->
    </div><!-- end footer-fluid -->
</section><!-- end footer-area --> 
    <!-- start scroll top --->
    <div id="scroll-top">
      <i class="fas fa-arrow-up" title="Go top"></i>
    </div>
    <!-- end scroll top -->

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/magnificpopup.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/main.js"></script>

    <!-- Slider Revolution core JavaScript files -->
    <script src="revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script src="js/rev-slider-script-2.js"></script>
    <script>
      // counter up
      $(".counter").counterUp({
        delay: 50,
        time: 5000,
      });
    </script>
  </body>

</html>
